*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.mobile-menu{
    display: block;
    width: 100%;
    background-color: aqua;
    line-height: 1.6em;
    font-weight: 400;
    text-align: center;
    position: relative;
    margin: auto;
}
.mobile-menu ul{
    list-style-type: none;
    margin: 0 auto;
    padding-left: 0;
    text-align: center;
    width: 100%;
    position: absolute;
    background-color: blue;
}
.mobile-menu li{
    display: inline-block;
}
.mobile-menu li a{
    display: block;
    min-width: 140px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
    text-transform: capitalize;
    background-color: antiquewhite;
    text-decoration: dashed;
}
